<div class="course-row">
  <div class="course-emoji" [style.background]="course.subjectBg">{{ course.emoji }}</div>
  <div class="course-info">
    <div class="course-name">{{ course.name }}</div>
    <div class="course-meta">GV {{ course.teacher }} &middot; Tạo {{ course.createdLabel }}</div>
  </div>
  <span class="course-status" [style.background]="course.statusBg" [style.color]="course.statusColor">{{ course.statusLabel }}</span>
  <a [routerLink]="['/courses', course.id]" class="course-action">Xem</a>
</div>
